<div class="footer">
    <div class="fo-top">
        <div class="container">
            <div class="card-group mx-4 text-center">
                <div class="card">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="card">
                    <h3>AROUND THE WEB</h3>
                    <div class="social ">
                        <i class="fa-brands fa-facebook mx-1 icon"></i>
                        <i class="fa-brands fa-twitter mx-1 icon"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                        <i class="fa-solid fa-globe mx-1 icon"></i>
                    </div>



                </div>
                <div class="card">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>


                </div>

            </div>
        </div>
    </div>
    <div class="copyright py-3 text-center  text-white ">
        Copyright © Your Website 2021
    </div>

</div>