<div class="portfolio">
    <div class="container">
      <div class="text-center pt-4" style="color: #2c3e50">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
          <div class="line me-3" style="background-color: #2c3e50"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line ms-3" style="background-color: #2c3e50"></div>
        </div>
      </div>
  
      <div class="row px-5">
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="rounded-3 overflow-hidden position-relative">
            <img
              src="https://placehold.co/400x400"
              class="w-100 rounded-3"
              alt=""
            />
            <div
              class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>