<div class="home  d-flex justify-content-center align-items-center text-white">
    <div class="text-center">
        <img src="./assets/images/avataaars.svg" alt="avatar" class="mb-3">

        <h2>START FRAMEWORK</h2>

        <div  class="d-flex align-items-center justify-content-center mb-3">
            <div  class="line me-3" style="background-color: white;"></div>
            <i 
                class="fa-solid fa-star"></i>
            <div  class="line ms-3" style="background-color: white;"></div>
        </div>

        <p>Graphic Artist - Web Designer - Illustrator</p>

    </div>



</div>